APP_SECRET=ganti-dengan-random-string-panjang
GOOGLE_OAUTH_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=ganti-dengan-client-secret
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
GOOGLE_ALLOWED_EMAILS=azmi.zulfani@gmail.com,anangkhidayat711@gmail.com

# Disiapkan untuk integrasi tahap berikutnya
GOOGLE_SHEET_ID=1o-yODjHh4zmNshFbZ7pwjtlt_U7Zsik3sJxRh7dJpho
GOOGLE_MASTER_SHEET_NAME=HALAMAN DEPAN
GOOGLE_DOC_TEMPLATE_ID=1PNMoMmTwqNBcCqImb1XkbyHAHsOktFekpFsSSmNh2MU
GOOGLE_USE_EXISTING_DOC=false
GOOGLE_OUTPUT_FOLDER_ID=1Z9SRXg0qHSdPhcfTmkHLKlXUD92FPieP
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
