APP_SECRET=ganti-dengan-random-string-panjang
APP_USERNAME=IPDSBPS1804
APP_PASSWORD=buatkcdaazmi

# Disiapkan untuk integrasi tahap berikutnya
GOOGLE_SHEET_ID=1o-yODjHh4zmNshFbZ7pwjtlt_U7Zsik3sJxRh7dJpho
GOOGLE_MASTER_SHEET_NAME=HALAMAN DEPAN
